.navbar-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  flex:1;
  margin-left: 10px;
}
.right{
  flex:1;
  display: flex;
  justify-content: right;
  margin-right:10px;
  button{
    width: 150px;
  }
}